.form-box {
  margin-bottom: 30px;
}

.form-box__title {
  margin-bottom: 15px;
  text-transform: uppercase;
  text-align: center;
}

.form {
  margin: 0 auto;
}

.form__input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  width: 350px;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7ba7ab;
  border-radius: 5px;
  outline: none;
  background-color: #f9f0da;
  color: #4f4f4f;
  transition: border 250ms linear;

  &:hover,
  &:focus {
    border: 2px solid #435456;
  }
}

.form__btn {
  width: 100px;
  height: 35px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: greenyellow;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 250ms linear;
  &:hover,
  &:focus {
    background-color: #739598;
  }
}
